body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

form {
	display: flex;
	flex-direction: column;
	margin: 24px 78px;
	gap: 10px;
}

form button input {
	display: flex;
	justify-content: center;
	align-content: left;
	padding: 12px 24px;
}

